html {
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p,
.basic li {
    color: brown;
}

.margin-bot-16 {
    margin-bottom: 16px;
}

.container {
    position: relative;
    padding-right: 32px;
}

header {
    background: url(../img/bai4/scraps.jpg) no-repeat right;
    border-bottom: 2px solid tan;
    width: 100%;
    height: 72px;
}

.content {
    position: relative;
    width: calc(100%-200px);
    margin-left: 220px;
}

aside {
    float: left;
    background: url(../img/bai4/back.jpg) repeat-y;
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
}

aside a {
    text-decoration: none;
    display: block;
    padding: 8px 12px;
    margin-left: 12px;
    width: 150px;
    border-bottom: 1.3px dashed sienna;
}


.basic {
    display: block;
    float: right;
    border: 4px  outset goldenrod;
    width: 280px;
    padding-bottom: 16px;
}

.basic h2 {
    padding: 16px 0;
    color: goldenrod;
}

.basic li {
    margin-left: 44px;
}

.content h1 {
    padding: 16px 0;
    color: goldenrod;
}

.content p {
    font-size: 18px;
    line-height: 32px;
}

footer {
    border-top: 2px solid goldenrod;
    color: goldenrod;
    padding: 16px;
    text-align: center;
}

.content img {
    width: 600px;
}

.text-box {
    width: 200px;
    font-size: 14px;
    border: 4px inset gray;
    background-color: cornsilk;
    position: absolute;
    color: brown;
    padding: 8px;
}

.box1 {
    top: 50px;
    left: 506px;
}

.box2 {
    top: 400px;
    left: -50px;
}

.box3 {
    bottom: 180px;
    right: 240px;
}