body {
    background: url(../img/Bai3/background.jpg);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


#links {
    float: left;
    width: 150px;
    padding: 8px;
    background-color: white;
    border-style: inset;
    border-width: 6px;
    border-color: gray;
}

#links a {
    display: block;
    text-decoration: none;
    line-height: 32px;
}

#content {
    border-left: 1px solid green;
    display: block;
    margin-left: 200px;
    padding-left: 16px;
}

#content img {
    float: right;
}

h2 {
    width: 700px;
    font-size: 32px;
    letter-spacing: 10px;
    padding-left: 64px;
}

h2, h3 {
    display: block;
    background-color: green;
    font-weight: 400;
}

h3 {
    width: 350px;
    padding-left: 16px;
}

footer {
    border-top: 4px double green;
    text-align: center;
}