* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.right {
    float: right;
}

.white {
    color: white;
}

.header {
    background-color: rgb(41,78,121);
}

.header-left {
    display: flex;
    align-items: center;
    padding: 16px;
}

.header-left img {
    width: 64px;
    margin-right: 12px;
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.search-box {
    margin: 16px;
}

.search-box input {
    margin-right: 16px;
}

.search-box button {
    margin-right: 16px;
    color: white;
}

.search-box input, .search-box button {
    border-radius: 4px;
    background-color: rgba(2, 2, 58, 0.333);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2px 4px;
} 

.search-box input::placeholder {
    color: white;
}

.nav li {
    display: inline-block;
    padding: 12px;
    background-color: rgb(66, 107, 211);
    margin-right: 16px;
}

.nav a {
    color: white;
}

.nav ul {
    margin: 0;
}
/*~~~~~~content~~~~~~*/
.content {
    display: flex;
    justify-content: space-between;
}

.content-heading-text {
    display: block;
    width: 100%;
    border-bottom: 4px dotted #666;
    margin: 32px 0 0 12px;
    padding: 0 0 16px 0;
}

.contact {
    display: inline-block;
}


.form_item {
    display: inline-block;
    width: 49%;
    margin-bottom: 12px;
}

.form_item input {
    width: 90%;
}

.form_item label {
    display: block;
    width: 50%;
}

.form_item textarea {
    width: 94%;
}

.message {
    width: 100%;
    margin-bottom: 12px;
}

.info  h3{
    width: 100%;
    border-bottom: 4px dotted #666;
    padding: 16px 0;
}

.contact p {
    padding: 16px 0;
    text-align: justify;
    color: rgb(250, 118, 10);
    text-shadow: 4px 4px 4px rgb(97, 149, 19);
}

/*~~~right~~~*/

.right {
    background-color: rgb(236, 235, 235);
    padding: 16px;
    margin: 32px 16px 0 0;
    height: 100%;
}

.right h3 {
    padding: 16px 0;
    border-bottom: 4px dotted #666;
}

.right .img-place {
    width: 100%;
    background-color: white;
    padding: 8px;
    border: 1px solid #666;
    margin: 16px 0;
}

.right img {
    width: 100%;
}

.right p {
    text-align: justify;
}

.right a {
    color: blue !important;
    float: right;
}

/*~~~~footer~~~~*/

.footer {
    margin-top: 32px;
    background-color: rgb(41,78,121);
    padding: 16px;
}

.footer p {
    display: block;
    width: 100%;
    color: white;
    text-align: center;
}